<h3>Row Editing</h3>
<p-table
  #dt
  [columns]="cols"
  [value]="todoArray"
  dataKey="id"
  editMode="row"
  [(selection)]="selectedRow"
  [paginator]="true"
  [rows]="5"
>
  <!-- ---------------Search Golbal---------------------------- -->
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="capDropdown">
        <p-dropdown
          [disabled]="(selectedRow?.length != 0) == false"
          [options]="selectedRow"
          [(ngModel)]="selectTitle"
          placeholder="Select"
          optionLabel="title"
        ></p-dropdown>
        <p-messages [(value)]="msgs"></p-messages>
      </div>
      <div class="capFilterGold">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto; margin-right: 10px;padding:5px 0 5px 0;"
        />
        <p-button icon="pi pi-filter" (onClick)="show = !show"> </p-button>
      </div>
    </div>
  </ng-template>
  <!-- ------------------------hearder--------------------------------------------- -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [ngSwitch]="col.header"
      >
        <!-- <p-tableHeaderCheckbox *ngSwitchCase="'check'"></p-tableHeaderCheckbox> -->
        {{ col.header }}

        <p-sortIcon *ngSwitchCase="'Block'" [field]="col.field"></p-sortIcon>
        <p-sortIcon *ngSwitchCase="'Title'" [field]="col.field"></p-sortIcon>
        <p-sortIcon *ngSwitchCase="'Date'" [field]="col.field"></p-sortIcon>
        <p-sortIcon *ngSwitchCase="'Status'" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <!-- -----------------------------dropdow,calender,search----------------------------- -->
    <tr *ngIf="show">
      <th></th>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <!-- <p-multiSelect
          *ngSwitchCase="'title'"
          [options]="title"
          [(ngModel)]="selectedTitle"
          [panelStyle]="{ minWidth: '12em' }"
        ></p-multiSelect> -->
        <input
          *ngSwitchCase="'title'"
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, col.field, col.filterMatchMode)
          "
          style="width:auto; padding:5px 0 5px 0;"
        />
        <p-calendar
          *ngSwitchCase="'date'"
          [showIcon]="true"
          [style]="{ width: 'auto' }"
          [inputStyle]="{ width: '135px' }"
          appendTo="body"
        ></p-calendar>
        <p-multiSelect
          *ngSwitchCase="'status'"
          [options]="status"
          [(ngModel)]="selectedStatus"
          [panelStyle]="{ minWidth: '12em' }"
          defaultLabel="All Status"
          (onChange)="dt.filter($event.value, col.field, 'in')"
        ></p-multiSelect>
        <input
          *ngSwitchCase="'block'"
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, col.field, col.filterMatchMode)
          "
          style="width:auto; padding:5px 0 5px 0;"
        />
      </th>
    </tr>
  </ng-template>
  <!-- --------------------data----------------------------- -->
  <ng-template
    pTemplate="body"
    let-rowData
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pEditableRow]="rowData" [ngClass]="rowData.status ? 'done' : 'not'">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td>
        {{ rowData.title }}
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="date" [(ngModel)]="rowData.date" required />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.date }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="status"
              [(ngModel)]="rowData.status"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.status ? "Complete" : "Watting" }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.block" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.block }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align:center">
        <button
          *ngIf="!editing"
          pButton
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          class="ui-button-info"
          (click)="onRowEditInit(rowData)"
        ></button>
        <button
          *ngIf="editing"
          pButton
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          class="ui-button-success"
          style="margin-right: .5em"
          (click)="onRowEditSave(rowData)"
        ></button>
        <button
          *ngIf="editing"
          pButton
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          class="ui-button-danger"
          (click)="onRowEditCancel(rowData, ri)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <ul>
      <li *ngFor="let car of selectedRow" style="text-align: left">
        {{ car }}
      </li>
    </ul>
  </ng-template>
</p-table>
<p-toast></p-toast>
<!-- -------------------------------------dialog----------------------- -->
<p-dialog
  header="Details"
  [(visible)]="selectTitle"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '225px', 'text-align': 'center' }"
>
  <div class="ui-g">
    <div
      class="ui-g-4"
      style="color: #ec6666;text-transform: uppercase;text-align: left"
    >
      Title:
    </div>
    <div class="ui-g-8">
      <strong>{{ selectTitle?.title }}</strong>
    </div>
    <div
      class="ui-g-4"
      style="color: #ec6666;text-transform: uppercase;text-align: left"
    >
      Date:
    </div>
    <div class="ui-g-8">
      <strong>{{ selectTitle?.date }}</strong>
    </div>
    <div
      class="ui-g-4"
      style="color: #ec6666;text-transform: uppercase;text-align: left"
    >
      Status:
    </div>
    <div class="ui-g-8">
      <strong>{{ selectTitle?.status }}</strong>
    </div>
    <div
      class="ui-g-4"
      style="color: #ec6666;text-transform: uppercase;text-align: left"
    >
      Block:
    </div>
    <div class="ui-g-8">
      <strong>{{ selectTitle?.block }}</strong>
    </div>
  </div>
</p-dialog>
